<!--

<form [formGroup]="regForm" (ngSubmit)="onsubmit()">
 <div> <label>
    first name:
    <input type="text" formControlName="fname">
  </label>
 </div>
  <div>
  <label>
    last name:
    <input type="text" formControlName="lname">
  </label>
  </div>
  <div formGroupName="address">
    <h3>Address</h3>
<div>
    <label>
      Street:
      <input type="text" formControlName="address1">
    </label>
</div>
    <div>
    <label>
      City:
      <input type="text" formControlName="address2">
    </label>
    </div>
    <div>
    <label>
      State:
      <input type="text" formControlName="state">
    </label>
    </div>
    <div>
    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
    </div>
  </div>
  &lt;!&ndash;<div formArrayName="mobile">
    <h2>enter mobile number</h2>
    <button (click)="dynamicmob()">Add new mobile</button>

  </div>
&ndash;&gt;
  <button type="submit" [disabled]="!regForm.valid">submit</button>
  <p>
    <button (click)="updateformData()">partially update</button>
  </p>

</form>

<p>{{regForm.status}}</p>
-->


recipe application
<app-header (featureload)="NavigateMethod($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipe *ngIf="loadFeature === 'recipe'"></app-recipe>
      <app-shopping-list *ngIf="loadFeature !== 'recipe'">

      </app-shopping-list>
    </div>
  </div>
</div>


<!--

<h2>My server</h2>
<button (click)="addServer()">Add Server</button>
<ul>
  <li *ngFor="let srvr of server let i = index" (click)="onRemove(i)">{{server}}</li>
</ul>

-->
<!--directive-->
<!--<button (click)="odd = !odd">click me</button>
<ul>
<div *ngIf="!odd" [ngClass]="{newClass:oddnum %2!==0}">
  <li *ngFor="let num of oddnum">{{num}}</li>
</div>
  <div *ngIf="odd">
    <li *ngFor="let num of even">{{num}}</li>
  </div>
</ul>-->

<!--<app-account></app-account>-->
<router-outlet></router-outlet>
