<hr>
<h4 class="text-center">Laptop product </h4>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <img src="https://officedepot.scene7.com/is/image/officedepot/4024739_o01_lenovo_flex_14_laptop_101019?$OD%2DLarge$&wid=450&hei=450" style="width: 300px; height: 500px">
    </div>
    <div class="col-6">
      <p>"outputPath": "dist/angular-bootstrap-examples",
        "index": "src/index.html",
        "main": "src/main.ts",
        "polyfills": "src/polyfills.ts",
        "tsConfig": "tsconfig.app.json",
        "aot": true,
      </p>
    </div>
  </div>
</div>

