<!--The content below is only a placeholder and can be replaced.-->




<app-parent></app-parent>
<app-sibling></app-sibling>

<!--<a routerLink="/std">student Click</a><br>-->
<!--<button (click)="navigate()">student</button>-->
<span (mouseenter)="navigate()">mouse enter here</span>
<router-outlet></router-outlet>
Hi Team,
 Today i worked on Angular router
:- register router and routes , router outlet , router-link for navigate page
:- worked on child routing component , child routing configuration
:- worked on wildcard routing configuration
git-url:-
next-task:-
tomorrow i will work on relative navigation, displaying multiple routes in named outlets
