<div class="container-fluid">
  <div class="text-center">
    <h2>Electronic</h2>
  </div>
  <hr>
  <div class="row">
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://officedepot.scene7.com/is/image/officedepot/4024739_o01_lenovo_flex_14_laptop_101019?$OD%2DLarge$&wid=450&hei=450" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="./laptop" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://officedepot.scene7.com/is/image/officedepot/4024739_o01_lenovo_flex_14_laptop_101019?$OD%2DLarge$&wid=450&hei=450" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://officedepot.scene7.com/is/image/officedepot/4024739_o01_lenovo_flex_14_laptop_101019?$OD%2DLarge$&wid=450&hei=450" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://officedepot.scene7.com/is/image/officedepot/4024739_o01_lenovo_flex_14_laptop_101019?$OD%2DLarge$&wid=450&hei=450" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>


  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>

</div>
